<div class="card" style="">
  <div class="row justify-content-between px-4 py-3">
    <div class="col col-2 badge text-bg-primary text-light rounded-1">RECOMANACIÓ</div>
    <span
      class="bg-light text-dark rounded-1 fw-bold col col-2"
    >
      13+ anys
    </span>
  </div>
  <div class="card-body">
    <h5 class="card-title">Card title</h5>
    <h6 class="card-subtitle mb-2 text-body-secondary">Card subtitle</h6>
    <p class="card-text">
      Some quick example text to build on the card title and make up the bulk of the card’s content.
    </p>
  </div>
</div>
