<div class="section-header container py-2">
  <div class="d-flex align-items-center gap-2">
    <span class="badge-dot"></span>
    <h2 class="h6 mb-0 fw-bold">Recomanacions</h2>
  </div>
</div>
<div class="container py-3 fst-italic">
  <h5 class="fw-normal fs-3">Films que et recomanem per a tractar el tema</h5>
</div>

<div class="container card bg-card border-0 py-4 px-4">
  <span class="z-3 bg-light text-dark position-absolute top-0 end-0 m-3 rounded-2 px-2 py-2 fw-bold">
      13+ anys
    </span>
    <div class="card-body">
    <span class="badge text-bg-danger mb-4">RECOMANACIÓ</span>
    <h5 class="card-title text-light card-movie-title fs-1 w-25">Amb amor, Simón</h5>
    <h6 class="text-light card-subtitle mb-2 w-25 mb-4">
      #adolescència #xarxessocials #lgtbiq+ #internet
    </h6>
    <p class="card-text text-light w-50">
      Simón és un adolescent que guarda un secret: és gai. Mentre descobreix la seva veritable
      identitat es veu obligat a dir la seva veritat i aprèn no sols sobre ell mateix, sinó també
      sobre la importància de cuidar als afectes.
    </p>

    <div class="row g-4 align-items-start">
      <div class="col-12 col-lg-3 w-25">
        <div class="d-flex align-items-center gap-2 mb-2">
          <span class="fw-normal text-light small">VALORACIÓ</span>
          <button
            type="button"
            class="btn btn-sm btn-outline-light rounded-circle px-2 py-0 "
            data-bs-toggle="tooltip"
            title="Valoració orientativa per eixos"
          >
            ?
          </button>
        </div>

        <div class="d-flex align-items-center gap-3 mb-2">
          <span class="w-25 text-white small">Lúdic</span>
          <div class="progress flex-grow-1 reco-progress">
            <div class="progress-bar reco-bar" style="width: 65%"></div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mb-2">
          <span class="w-25 text-white small">Cultural</span>
          <div class="progress flex-grow-1 reco-progress">
            <div class="progress-bar reco-bar" style="width: 80%"></div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3 mb-2">
          <span class="w-25 text-white small">Educatiu</span>
          <div class="progress flex-grow-1 reco-progress">
            <div class="progress-bar reco-bar" style="width: 90%"></div>
          </div>
        </div>
        <div class="d-flex align-items-center gap-3">
          <span class="w-25 text-white small">Artístic</span>
          <div class="progress flex-grow-1 reco-progress">
            <div class="progress-bar reco-bar" style="width: 55%"></div>
          </div>
        </div>
      </div>
      <div class="col-lg-3">
        <div class="fw-normal text-light letterspace-1 mb-2">ÀMBITS</div>
        <div class="row row-cols-2 text-light small">
          <div class="col">Sociologia</div>
          <div class="col">Discriminació i violència</div>
          <div class="col">Igualtat de gènere</div>
          <div class="col">Món digital</div>
          <div class="col">LGTBI+</div>
          <div class="col">Desigualtat</div>
          <div class="col">…</div>
        </div>
      </div>
    </div>
  </div>
</div>
