@use 'bootstrap/scss/bootstrap' with (
  $primary: #eb705a,
  $border-radius: 0.75rem,
  $font-size-base: 1rem,
  $enable-rounded: true,
  $enable-shadows: true
);

body {
  background-color: #fffafa;
}
